// ? Global Styles

// ? Variables
@import "./Variables";

*,
html {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
}

.cust-hr {
  border-top: 4px solid $primary;
  width: 150px;
}

.a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
  .justify {
    text-align: justify !important;
  }
}
// ? Home Component all Styling here
@import "./Home";

// ? Common Components all Styling here
@import "./Common";

// ? All Components in dashboard folder. All styling is here
@import "./Dashboard";
